.profile-container {
    position: relative;
  }

.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color:#fff;
    margin-top: 15px;
}
.navbar a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.profile-icon{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-icon img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor:pointer;
}
.taskbar-boxes {
    display: flex;
    justify-content: space-around ;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.taskbar-boxes a{
  text-decoration: none; 
}
  .box {
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: #333;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    justify-content: space-around;
    width: 200px;
    height: 200px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }
  
  .box:hover {
    background-color: #303030;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }
  @media (max-width: 768px) {
    .taskbar-boxes {
      flex-direction: column; 
      align-items: center;
    }
  
    .box {
      width: 200px; 
      height: 200px; 
      font-size: 20px; 
      margin-bottom: 20px;
    }
  }